<!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>
 <img src="https://document-export.canva.com/DAC_O618XfQ/9/preview/0001-1627122922.png">

<div class="everything">
<div class="food">
  
  <h1>Food</h1>
  <ul>
      <li><%= "#{Seattle.food[0]}" %></li>
    <a href ="https://alturarestaurant.com/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[1]}" %></li>
    <a href ="https://sushikashiba.com/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[2]}" %></li>
    <a href ="https://www.chowfoods.com/hi-life/menus">link</a>
    </li>
    
     <li><%= "#{Seattle.food[3]}" %></li>
    <a href ="http://www.tilikumplacecafe.com/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[4]}" %></li>
    <a href ="http://www.relayrestaurantgroup.com/restaurants/revel/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[5]}" %></li>
    <a href ="https://www.yelp.com/biz/tacos-chukis-seattle">link</a>
    </li>
    </ul>
    </div>
    <div class="attraction">
    <h1>Attractions</h1>
    <ul>
    <li><%= "#{Seattle.attraction[0]}" %></li>
    <a href ="https://www.seattleaquarium.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attraction[1]}" %></li>
    <a href ="http://seattleartmuseum.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attraction[2]}" %></li>
    <a href ="https://www.pacificsciencecenter.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attraction[3]}" %></li>
    <a href ="http://spaceneedle.com/">link</a>
    </li>
    
    <li><%= "#{Seattle.attraction[4]}" %></li>
    <a href ="http://www.mopop.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attraction[5]}" %></li>
    <a href ="http://seattlegreatwheel.com/">link</a>
    </li>
    </ul>
    </div>
    </div>
    </body>
    </html>
<style>
  img{https://document-export.canva.com/DAC_O618XfQ/9/preview/0001-1627122922.png
    width: 1265px;
    height: 500px;
  }

  .food{
    display: inline-block;
    width: 600px;
  }
  .attraction{
    display: inline-block;
    width: 600px;
  }
</style>